@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'sriracha', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: #FFF;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 62px;
}

header > p {
    padding-bottom: 50px;
}

header > p > a, footer > p > a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

header > p > a:hover, footer > p > a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 28px;
}

section.normal {
    color: #000;
    background-color: white;
}

section.normal > p {
    padding-bottom: 25px;
}

section.imagem  > p {
    background-color: #0000005a;
    border-radius: 6px;
    width: 400px;
}

section.imagem {
    background-color: #2e2e2e;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 4px 4px 13px 0 #00000044;
}

section#img01 {
    background-image: url(../images/background001.jpg);
}

section#img02{
    background-image: url(../images/background002.jpg);
}

footer  {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}
